{% extends "base.html" %}

{% block body %}
    <form method="POST" action="/convertor" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="formFile" class="form-label">XSD File</label>
        <input class="form-control" type="file" id="xsdFile" name="xsdFile" accept=".xsd" required>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">XML File</label>
        <input class="form-control" type="file" id="xmlFile" name="xmlFile" accept=".xml">
      </div>

      <br>

      <button type="submit" class="btn btn-primary btn-block">Convert</button>
      <button type="reset" class="btn btn-danger btn-block">Clear</button>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Response :</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <p id="text-p"></p>
              <a id="sqlxsd" href="" download>
                <button class="btn btn-primary btn-block">Download DDL File</button>
              </a>
              <br>
              <a id="sqlxml" href="" download>
                <button class="btn btn-primary btn-block">Download DML File</button>
              </a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script>
    $(document).ready(function (){
      $('#home').removeClass('active');
      $('#convetorClass').addClass('active');
        $('.close, #close').click(function () {
            $('#myModal').modal('hide');
        });
        $('form').on('submit', function (e){
            e.preventDefault();
            var form_data = new FormData();
            form_data.append('xsdFile', $('#xsdFile')[0].files[0]);
            form_data.append('xmlFile', $('#xmlFile')[0].files[0]);
            $(function () {
              $.ajax({
                type: 'POST',
                url: '/convertor',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    if(data.result == "xsd"){
                        $('#sqlxsd').prop("href", "{{ url_for('static',filename='convertion/sql/result.sql') }}")
                        $('#text-p').text('XmlSchema File succesfily converted');
                        $('#sqlxsd').show();
                        $('#sqlxml').hide();
                        $('#myModal').modal('show');
                    }
                    else{
                      if(!data.result){
                        $('#text-p').text('Invalidate File');
                        $('#sqlxml').hide();
                        $('#sqlxsd').hide();
                        $('#myModal').modal('show');
                      }
                      else{
                        $('#sqlxsd').prop("href", "{{ url_for('static',filename='convertion/project/DDL.sql') }}")
                        $('#sqlxml').prop("href", "{{ url_for('static',filename='convertion/project/DML.sql') }}")
                        $('#text-p').text('All Files are succesfily converted');
                        $('#sqlxsd').show();
                        $('#sqlxml').show();
                        $('#myModal').modal('show');
                      }
                        
                    }
                },
              });
            });
        })
    })
  </script>
  {% endblock %}