{% extends "base.html" %}

{% block body %}

    <form enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formFile" class="form-label">XML File</label>
        <input class="form-control" type="file" id="xmlFile" name="xmlFile" accept=".xml" required>
      </div>

      <div class="mb-3" id="validator">
        <label for="formFile" class="form-label">DTD or XSD File</label>
        <input class="form-control" type="file" id="validatorFile" name="validatorFile" accept=".dtd,.xsd">
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="internal" value="internal" id="internal">
        <label class="form-check-label" for="flexRadioDefault1">
          Internal DTD
        </label>
      </div>
      <br>

      <button type="submit" class="btn btn-primary btn-block">Validate</button>
      <button type="reset" class="btn btn-danger btn-block">Clear</button>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Response :</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p id="text-p"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  <script>
    $(document).ready(function () {
      $('.close, #close').click(function () {
        $('#myModal').modal('hide');
      });
      $('form').on('submit', function (e) {
        e.preventDefault();
        var form_data = new FormData();
        form_data.append('xmlFile', $('#xmlFile')[0].files[0]);
        if (!$('#internal').cheked) {
          form_data.append('validatorFile', $('#validatorFile')[0].files[0]);
        }
        $(function () {
          $.ajax({
            type: 'POST',
            url: '/validator',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
              if (data.result == true) {
                $('#text-p').text('XML Valid')
                $('#myModal').modal('show');

              }
              else if (!data.result) {
                $('#text-p').text('XML not valid')
                $('#myModal').modal('show');
              }
              else {
                $('#text-p').text('Invalidate File')
                $('#myModal').modal('show');
              }
            },
          });
        });
      })
      $('#internal').on('change', function () {
        $('#validator').toggle();
      })
    })
  </script>
  {% endblock %}